body{
    font-family: poppins;
}
.sectionOne{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* .icon{
    height: 300px;
} */

.iconImg{
    width: 300px;
}

.navItems{
    display: flex;
    justify-content: space-between;

}

.navItem{
    padding: 15px;
    font-weight: 500;
}

.navItems li{
    
    list-style-type: none;
    font-size: 14px;
    position: relative;

}
.navItems li:hover{
    
    color: #00bbee;
    cursor: pointer;
}
.navItems li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; /* Adjust this value as needed */
    height: 2px; /* Adjust the thickness of the underline */
    background-color: #00bbee;
  }

.regButton{
    padding: 20px 40px;
    background-color: #0000ff;
    font-size: 14px;
    border-radius: 5px 5px 5px 0px;
    border: none;
    color: white;
}

/*  Section 2 */
.headerTextContent{
    padding: 28px 200px;
    text-align: center;
    font-size: 48px;
    
    
}

/* Section 3 */

.sectionThree{
    display: flex;
    padding: 100px;
    /* flex-wrap: wrap; */
    background-color: #F2F5FA;
}

.threeOne img{
    width: 100%;
}

.threeTwo{
    width: 50%;
    padding: 100px;
}

.threeTwo p{
    font-size: 18px;
}


/* Section 4 */

.sectionFour{
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f2f5fa;
    gap: 30px;
}

.secFourImages{
    display: flex;
    justify-content: space-evenly;
    background-color: #f2f5fa;
}
.secFourImg{
    width: 150px;
    padding: 30px;
    
}
/* Section 5 */

.sectionFive{
    display: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}
.fiveVideo img{
    width: 700px;
}

/* Section six */
.secSixTitle{
    text-align: center;
    align-items: center;
    padding: 50px;
}

.secSixCols{
    padding: 0px 100px;
    display: flex;
    align-items: center;
}

.secSixCol1 img{
    width: 800px;
}
.secSixCol2 p{
    font-size: 18px;
}


/* Footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 90px;
    background-color:#e6eaed;
}

.footSecOne{
    width: 25%;
}

.footSecOne img{
    width: 300px;
    text-align: center;
}

.footSecTwo{
    width: 25%;
    text-align: center;
}
.footSecTwoTitle{
    text-align: center;

}
.threeTwoContent{
    text-align: center;
}

.footSecThree{
    width: 25%;
}

.footSecTwoTitle{

}

.footSecFour{
    width: 25%;
}

.footSecTwoTitle{
    
}

.footListItems p{
    /* text-decoration: none;
    list-style-type: none;
    padding-left: 100 !important; */
    color: #00bbee;
}

.footSecThree p span{
    color: #000000;
}
.footSecThree p{
    color: #00bbee;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  @media only screen and (max-width:728px)  {
    .navItems{
        flex-direction: column;
    }
    .headerTextContent{
        padding: 0px;
        font-size: 26px;
    }
    /* .sectionThree{
        padding: 10px;
    }
    .threeTwo{
        padding: 0px;
    } */
    
    
  }

